

.spotlight {
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(40, 40, 40, 0.6) 0%, rgba(34, 34, 34, 0) 60%);
    pointer-events: none;
    mix-blend-mode: screen;
    transition: width 0.2s ease, height 0.2s ease;
}

body:hover .spotlight {
    width: 1000px;
    height: 1000px;
}
